
.bookmarked{
	color:#FFD700;
}
.bookmarked:hover{
	
}

.bookmarkCenter{
	padding-left : 60px;
}


.container{
    margin-left: auto;
    margin-right: auto;
   

}
.font20{
	font-size:20px;
}

.center{

  margin-left: auto;
  margin-right: auto;
  text-align: center
}

.img-bordered{
	border: 2px solid #a1a1a1;
    padding: 2px; 
    background: #dddddd;
    width: 200px;
    height: 200 px;	
    border-radius: 25px;
}

.blueText{
	color: blue;
	font-size: 15px;
}
#contact{
    font-size:20px;
    color:cadetblue;
}


#uploadButton{
	margin-left:20px;
	margin-top: 10px;
}
.hidden{
	display:none"
}

 
fieldset{
	border: 1px solid #000;
	padding: 10px;
}

.width100 {
    width: 250px;
}

#p5{
	border: 1px solid #000;
	padding: 2px;
	padding-top: 1px;
}
	
.padtop5{
   padding:10 0 15 0px;
	
}
.padtop50{
   padding-top:50px;
	
}
.padtop70{
   padding-top:70px;
	
}
.padtop90{
   padding-top:90px;
	
}

.padtop120{
   padding-top:120px;
	
}
.text-white{
	color:#ababab;
}
.text-cadetBlue{
	color:cadetBlue;
}

.text-blue{
	color:#5b66ff;
}
.
text-grey1{
		color:#7f7f7f;
	
}
.text-grey{
		color:#ababab;
	
}
.pad-right{
	padding-right:10px;
}
.pad-bottom-10{
	padding-bottom:10px;
}

.pad-left-10{
	padding-left: 10px;
}

[ng-click],
[data-ng-click],
[x-ng-click] {
    cursor: pointer;
}

