<div class="container padtop120">

     
    <div class="container">
    
        <div class="col-md-2">
        </div>

        <div class="col-md-8 ">
        
        	
        	
        	 <div class="col-md-4">
                <img ng-src="{{user.imgurl}}" width="200" height="200" class = "img-thumbnail center-block img-responsive ">
				 	
             </div>
        	
        	
        	
        	<div class="col-md-8 ">
        	  	<div class="tabbable tabs-below">
					  <ul class="nav nav-pills">
					    <li ng-class="{active: selectedTab == 1}">
					      <a href="#/profile" ng-click="selectedTab = 1;">Me</a>
					    </li>
					    <li ng-show="receiver" ng-class="{active: selectedTab == 2}">
					      <a href="#/profile" ng-click="selectedTab = 2;">Received</a>
					    </li>
					    <li   ng-class="{active: selectedTab == 3}">
					      <a href="#/profile" ng-click="selectedTab = 3;">Donated</a>
					    </li>
					      <li ng-class="{active: selectedTab == 4}">
					      <a href="#/profile" ng-click="selectedTab = 4;">Bookmarks</a>
					    </li>
					  </ul>
					
					  <div class="tab-content center-block" ng-show="selectedTab == 1">
					   	    <h2 class="text-grey"> {{user.first}}  {{user.last}} </h4>
				            <h4 class="text-grey"> <span ng-show="user.need.summary"> Recipient</span> <span ng-show="user.donationGiven.length || !receiver"> Donor</span>   </h4> 
				        	
				            <h4 class="text-grey" ng-show ="receiver"> Amount needed: $ {{amount}}</h3>
				            <h4 class="text-grey" ng-show ="receiver"> Amount received: $ {{receivedAmount}}</h3>
				            
	            
					  </div>
					  
				      	
					  
					     	
  						<div class="tab-content text-grey" ng-show="selectedTab == 2">
 				        	<div ng-show= user.donationReceived.length>  
				        	<table class="table table-condensed">
				       			 <thead>
					            	<tr>
					                <th>Donor</th>
					                <th>Date </th>
					                <th>Amount</th>
					                <th>Message </th>
					                
				             	</tr>
				        		</thead>
				
				
				        		<tbody>
				            	<tr ng-repeat="donation in user.donationReceived" >
				
					                <td>{{donation.donorName}}</td>
					                <td>{{donation.receivedOn | date: 'shortDate'}} </td>
					                <td>{{donation.amount}}</td>
					                <td>{{donation.message}}</td>
				                
				
				            	</tr>
				        		</tbody>
				   			</table> 
				        	
			        	  </div> 
			        	  
			        	   <div ng-hide= user.donationReceived.length>
			        	   <h3 class="text-cadetBlue">You have not received any donation till now. 
			        	    Please be patient. </h3>
			        	 </div> 
			        	  
			          </div>     
 					  
				       	
					  
					  <div class="tab-content text-grey" ng-show="selectedTab == 3">
 				        	
 				      	<div ng-show= user.donationGiven.length>
				        	<table class="table">
				       			 <thead>
					            	<tr>
					                <th>Recipient</th>
					                <th>Date </th>
					                <th>Amount</th>
					                <th>Message </th>
					                
				             	</tr>
				        		</thead>
				
				
				        		<tbody>
				            	<tr ng-repeat="donation in user.donationGiven" >
				
					                <td>{{donation.receiverName}}</td>
					                <td>{{donation.givenOn | date: 'shortDate'}} </td>
					                <td>{{donation.amount}}</td>
					                <td>{{donation.message}}</td>
				                
				
				            	</tr>
				        		</tbody>
				   			</table> 
				        	
			        	  </div> 
			        	  
			        	  <div ng-hide= user.donationGiven.length>
			        	   <h3 class="text-cadetBlue">You have not donated to anybody. Give a helping hand to someone if you can ! </h3>
			        	 </div> 
  
		 			</div>
		      		 
		      		 
		      		   <div class="tab-content" ng-show="selectedTab == 4">
					 	<div ng-show= user.bookmarked.length>       	
				        	 
				        		
				        		<span ng-repeat= "user in user.bookmarked" class="pad-right">  
				        		        
 				        		  		<a class="glyphicon glyphicon-user btn btn-primary" href="#/publicprof/{{user}}">{{user}} </a>  
  				        		</span>
				        	 	
			        	</div>
			        	  
 						<div ng-hide= user.bookmarked.length>
			               <h3 class="text-cadetBlue">You have not bookmarked anyone. Bookmark to find what others are upto ! </h3>
			        	    
			        	 </div> 
		 			
		      		 </div>   
		      		 
		      		   
					  </div>
					</div> 
					  </div>
					</div>
        	  	
        <div class="col-md-2">
       	
            
       	</div> 
         	
        </div>
   
</div>