<div class="container padtop90">

     
    <div class="container">
    
        <div class="col-md-2">
        </div>
        
		
		
        <div class="col-md-8 ">
        	<h2 class="text-grey text-center"> {{user.first}}  {{user.last}} </h4>
        	
        	
        	 <div class="col-md-4">
                <img ng-src="{{user.imgurl}}" width="200" height="200" class = "img-thumbnail center-block img-responsive ">
				 	
             </div>
        	
        	
        	
        	<div class="col-md-8 center-block">
        		
        	  	<div class="tabbable tabs-below">
					  <ul class="nav nav-pills">
					    <li ng-class="{active: selectedTab == 1}">
					      <a href="#/publicprof/{{user.username}}" ng-click="selectedTab = 1;">About</a>
					    </li>
					    <li ng-show="receiver" ng-class="{active: selectedTab == 2}">
					      <a href="#/publicprof/{{user.username}}" ng-click="selectedTab = 2;">Donations Received</a>
					    </li>
					    <li ng-class="{active: selectedTab == 3}">
					      <a href="#/publicprof/{{user.username}}" ng-click="selectedTab = 3;">Bookmarks</a>
					    </li>
					  </ul>
					
					  <div class="tab-content" ng-show="selectedTab == 1">
					   	    
					   	    <h4 class="text-grey"> Hi, My name is {{user.first}}. I live in {{user.address}}.</h4>
					   	    
					   	     <h4 class="text-grey"> I am a <span ng-show="user.need.summary"> Recipient</span> <span ng-show="user.donationGiven.length || !receiver"> Donor</span> .
					   	        <span ng-show="user.need.summary">Please check  <a href="#/viewDetail/{{user._id}}">my Need Profile</a></span>
					   	       
					   	     
					   	      </h4> 
					   	    
 					   	    <h4 class="text-grey">You can reach me at {{user.email}} </h4>
	        				
				        	
	            
					  </div>
					  
				      	
					  
  						<div class="tab-content text-grey" ng-show="selectedTab == 2">
 				           <div ng-show= user.donationReceived.length>       	
 				        	
				        	<table class="table table-condensed">
				       			 <thead>
					            	<tr>
					                <th>Donor</th>
					                <th>Date </th>
					                <th>Amount</th>
					                <th>Message </th>
					                
				             	</tr>
				        		</thead>
				
				
				        		<tbody>
				            	<tr ng-repeat="donation in user.donationReceived" >
				
					                <td>{{donation.donorName}}</td>
					                <td>{{donation.receivedOn | date: 'shortDate'}} </td>
					                <td>{{donation.amount}}</td>
					                <td>{{donation.message}}</td>
				                
				
				            	</tr>
				        		</tbody>
				   			</table> 
				        	
			        	  </div> 
			        	  
			        	    
			        	   <div ng-hide= user.donationReceived.length>
			        	   <h3 class="text-cadetBlue">This user has not received any donation. 
			        	   </h3>
			        	 </div> 
			        	  </div>
			             
 					  
				    	 
		      		   <div class="tab-content" ng-show="selectedTab == 3">
					 	<div ng-show= user.bookmarked.length>       	
				        	 
				        		
				        		<span ng-repeat= "user in user.bookmarked" class="pad-right">  
				        		        
 				        		  		<a class="glyphicon glyphicon-user btn btn-primary" href="#/publicprof/{{user}}">{{user}} </a>  
  				        		</span>
				        	 	
			        	</div>
			        	  
 						<div ng-hide= user.bookmarked.length>
			               <h3 class="text-cadetBlue"> No bookmarks available :( </h3>
			        	    
			        	 </div> 
		 			
		      		 </div>   
		      		 
		      		   
					  </div>
					</div> 
					
					
					</div>
        	  	
        <div class="col-md-2">
       	  
       	</div> 
         	
        
  	   
        </div>
     	            
 	 
</div >
		
	<div class="container">
      <h1 class="text-white text-center" ng-show ="receiver"> $ {{amount}} <small> Needed </small></h3>
      
      
  	  <h1 class="text-white text-center " ng-show ="receiver"> $ {{receivedAmount}} <small> Received so far </small></h1>
      </div>
			
	
</div>