<div class="container padtop90">

     
    <div class="container">
    
        <div class="col-md-1">
        </div>
        
		
		
        <div class="col-md-10 ">
        
        	<div class="row">
        		<div class="col-md-4">
        		</div>
        		
        		<div class="col-md-6 text-center">
        			 <h2 class="text-grey text-center"> {{user.first}}  {{user.last}} </h2>
        			
        		</div>
        		
        		<div class="<col-md-2></col-md-2>">
        		</div>
        		
        		
        	</div>
        	
        	<div class="row">
        	 <div class="col-md-4 text-center">
        	 	
        	 	
        	  <div class="row">
                <img ng-src="{{user.imgurl}}" width="200" height="200" class = "img-thumbnail center-block img-responsive ">
			  </div>		 
				 
			    <div class="row padtop10">
	                	<button class="btn btn-primary" ng-hide="selfView"  ng-click=follow(user.username)> {{followText}} </button> 
	            </div>
	        	 
				 	
             </div>
             
             
        	
        	
        	<div class="col-md-8 center-block">
        		
        	  	<div class="tabbable tabs-below">
					  <ul class="nav nav-pills">
					    <li ng-class="{active: selectedTab == 1}">
					      <a href="#/publicprof/{{user.username}}" ng-click="selectedTab = 1;">About</a>
					    </li>
					    <li ng-show="receiver" ng-class="{active: selectedTab == 2}">
					      <a href="#/publicprof/{{user.username}}" ng-click="selectedTab = 2;">Donations Received</a>
					    </li>
					    <li ng-class="{active: selectedTab == 3}">
					      <a href="#/publicprof/{{user.username}}" ng-click="selectedTab = 3;">Bookmarks</a>
					    </li>
					     <li ng-class="{active: selectedTab == 4}">
					      <a href="#/publicprof/{{user.username}}" ng-click="selectedTab = 4;">Followings</a>
					    </li>
					    <li ng-class="{active: selectedTab == 5}">
					      <a href="#/publicprof/{{user.username}}" ng-click="selectedTab = 5;">Followers</a>
					    </li>
					  </ul>
					
					  <div class="tab-content" ng-show="selectedTab == 1">
					   	    
					   	    <h4 class="text-grey"> Hi, My name is {{user.first}}. I live in {{user.address}}.</h4>
					   	    
					   	     <h4 class="text-grey"> I am a <span ng-show="user.need.summary"> Recipient</span> <span ng-show="user.donationGiven.length || !receiver"> Donor</span> .
					   	        <span ng-show="user.need.summary">Please check  <a href="#/viewDetail/{{user._id}}">my Need Profile</a></span>
					   	       
					   	     
					   	      </h4> 
					   	    
 					   	    <h4 class="text-grey">You can reach me at {{user.email}} </h4>
	        				
				        	
	            
					  </div>
					  
				      	
					  
  						<div class="tab-content text-grey" ng-show="selectedTab == 2">
 				           <div ng-show= user.donationReceived.length>       	
 				        	
				        	<table class="table table-condensed">
				       			 <thead>
					            	<tr>
					                <th>Donor</th>
					                <th>Date </th>
					                <th>Amount</th>
					                <th>Message </th>
					                
				             	</tr>
				        		</thead>
				
				
				        		<tbody>
				            	<tr ng-repeat="donation in user.donationReceived" >
				
					                <td>{{donation.donorName}}</td>
					                <td>{{donation.receivedOn | date: 'shortDate'}} </td>
					                <td>{{donation.amount}}</td>
					                <td>{{donation.message}}</td>
				                
				
				            	</tr>
				        		</tbody>
				   			</table> 
				        	
			        	  </div> 
			        	  
			        	    
			        	   <div ng-hide= user.donationReceived.length>
			        	   <h3 class="text-cadetBlue">This user has not received any donation. 
			        	   </h3>
			        	 </div> 
			        	  </div>
			             
 					  
				    	 
		      		   <div class="tab-content" ng-show="selectedTab == 3">
					 	<div ng-show= user.bookmarked.length>       	
				        	 
				        		
				        		<div ng-repeat= "user in user.bookmarked" class="arranger">  
				        			<div class="pad-element">
				        		        
 				        		  	<span class="glyphicon glyphicon-star btn btn-primary" ng-click="viewNeedProfile(user)">&nbsp;{{user}}</span>  
  				        		
  				        			</div>
  				        		</div>
				        	 	
			        	</div>
			        	  
 						<div ng-hide= user.bookmarked.length>
			               <h3 class="text-cadetBlue"> No bookmarks available :( </h3>
			        	    
			        	 </div> 
		 			
		      		 </div>   
		      		 
		      		 <div class="tab-content" ng-show="selectedTab == 4">
					 	<div ng-show= user.following.length>       	
				        	 
				        		
				        		<div ng-repeat= "user in user.following" class="arranger">  
				        		     <div class="pad-element">
 				        		  		<a class="glyphicon glyphicon-user btn btn-primary" href="#/publicprof/{{user}}">&nbsp;{{user}} </a>  
  				        			 </div>
  				        		</div>
				        	 	
			        	</div>
			        	  
 						<div ng-hide= user.following.length>
			               <h3 class="text-cadetBlue"> This user has not followed anybody yet. </h3>
			        	    
			        	 </div> 
		 			
		      		 </div>  
		      		 
		      		 <div class="tab-content" ng-show="selectedTab == 5">
					 	<div ng-show= user.follower.length>       	
				        	 
			        		<div ng-repeat= "user in user.follower" class="arranger">  
			        			<div class="pad-element">
			        		        <a class="glyphicon glyphicon-user btn btn-primary" href="#/publicprof/{{user}}">&nbsp;{{user}} </a>  
					        	</div>
					        </div>
				        	 	
			        	</div>
			        	  
 						<div ng-hide= user.follower.length>
			               <h3 class="text-cadetBlue"> This user does not have any followers. </h3>
			        	    
			        	 </div> 
		 			
		      		 </div>
		      		   
					  </div>
					</div> 
					
					</div>
					</div>
        	  	
        <div class="col-md-1">
       	  
       	</div> 
         	
        
  	   
        </div>
     	            
 	 
</div >
		
	<div class="container">
      <h1 class="text-white text-center" ng-show ="receiver"> $ {{amount}} <small> Needed </small></h3>
      
      
  	  <h1 class="text-white text-center " ng-show ="receiver"> $ {{receivedAmount}} <small> Received so far </small></h1>
      </div>
			
	
</div>