
<div class="container padtop70">


    <h1 class= "text-white text-center"> Bring a smile to somebody's face today ! </h1>
    
    <h3 class= "text-white text-center">Click on a recipient to view details and donate .</h3>
    <br />
        
	<div class="container " ng-show="needsData.length">
    <table class="table table-hover">
        <thead class="text-white">
            <tr>
                <th>Recipient</th>
                <th>Amount Goal</th>
                <th class="text-center">Summary</th>
             </tr>
        </thead>

        <tbody class="text-cadetBlue">
            <tr ng-repeat="need in needsData" ng-click="viewDetail(need.id)">

                <td>{{need.name}}</td>
                <td>{{need.amount}}</td>
                <td>{{need.summary}}</td>

            </tr>
        </tbody>
    </table>    
    </div>
    
    <div class="container" ng-show= "!(needsData.length) && fetched">
    	
    	<p class="alert alert-danger lead" role="alert"> Sorry, no recipients found.... </p>
    	
    </div>
</div>