  <nav ng-controller="LoginCtrl" class="navbar navbar-fixed-top navbar-inverse">
        <div class="container">
            <div class="navbar-header">
                <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#navbar" aria-expanded="false" aria-controls="navbar">
                    <span class="sr-only">Toggle navigation</span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                </button>
                <a class="navbar-brand"> UpLifter </a>
            </div>

            <div id="navbar" class="collapse navbar-collapse">
                <ul class="nav navbar-nav">
                    <li><a href="#/home">Home</a></li>
                    <li>
                    <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
                    
                    <!--<a href="#/view"> View Recepients </a>  -->
                    <ul class="nav navbar-nav">
                    <li class="dropdown">
                        <a href="" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-expanded="false">View Recepients <span class="caret"></span></a>
                        <ul class="dropdown-menu" role="menu">
                            <li><a href="#/view/smother">Single Mothers</a></li>
                            <li><a href="#/view/sfather">Single Fathers</a></li>
                            <li><a href="#/view/senior">Senior citizens</a></li>
                            <li><a href="#/view/kids">Kids</a></li>
                            <li><a href="#/view/family">Families</a></li>
                            <li><a href="#/view/disbaled">Disabled</a></li>
                            <li><a href="#/view/education">Education</a></li>
                            <li><a href="#/view/medical">Medical Treatment</a></li>
                            <li class="divider"></li>
                            <li><a href="#/view/all">View All</a></li>
                        </ul>
                    </li>
                </ul>
                </div>
                 </li>
                    
                    
                    
                    <li ng-show="currentUser"><a href="#/profile"> My Profile </a></li>
                    <li><a ng-show="currentUser" href="#/settings"> Settings </a></li>
                    <li><a href="#/contact"> Contact us</a></li>

                </ul>


                <form class="nav navbar-nav navbar-right" ng-show="currentUser">

                    <div class=" form-group"></div>
                    <div class="form-group">
                    </div>

                    <button ng-click="logout()" type="button" class="btn btn-primary">Logout</button>

                </form>



                <form class="navbar-form navbar-right" id="loginForm" ng-hide="currentUser">

                    <div class="form-group">
                        <input ng-model="user.username" type="text" placeholder="Username" class="form-control">
                    </div>
                    <div class="form-group">
                        <input ng-model="user.password" type="password" placeholder="Password" class="form-control">
                    </div>

                    <button ng-click="login(user)" type="button" class="btn btn-primary">Sign In</button>
				
				    <button ng-click="go('/register')" type="button" class="btn btn-success">Sign Up</button>
					
					 
                </form>

            </div><!-- /.nav-collapse -->
        </div>
    </nav>

<div class="container">


    <h1> Bring a smile to somebody's face today ! </h1>
    <br />
        

    <table class="table table-striped table-hover">
        <thead>
            <tr class="success">
                <th>Name</th>
                <th>Need amount </th>
                <th>Need Summary</th>
             </tr>
        </thead>

        <tbody>
            <tr ng-repeat="need in needsData" class="info" ng-click="viewDetail(need.id)">

                <td>{{need.name}}</td>
                <td>{{need.amount}}</td>
                <td>{{need.summary}}</td>

            </tr>
        </tbody>
    </table>    
</div>